*, *::before, *::after {
    font-family: sans-serif;
    box-sizing: border-box;
}

:root{
    background-color: rgb(224, 233, 253);
}

body {
    background-color: rgb(74, 74, 145) ;
    padding: 0;
    margin: 0;
    display: flex;
    width : 100vw;
    height: 100vh;
    justify-content: center;
    align-items:  center;
}

body.wrong {
    background-color: tomato;
}
 body.correct {
     background-color: rgb(101, 133, 101);
}

.container {
    width: 800px;
    max-width: 80%;
    background-color: rgba(240, 245, 247, 0.849); 
    border-radius: 6px;
    box-shadow: 0 0 12px 4px;
    padding: 10px;
} 

.grid-for-btns {
    display: grid;
    grid-template-columns: repeat (2, auto);
    margin: 20px 0;
    gap: 10px;
}

.btn {
    background-color: #a9add3;
    border-radius: 5px;
    border: 2px double #cccccc;
    color: whitesmoke;
    padding: 5px 10px;   
}

.btn:hover {
    border-color: black;
}

.begin-btn, .next-btn, .again-btn, .submit-btn {
    font-size: 1rem;
    font-weight:bold;
    padding: 10px 20px;
}

.user-controls {
    display: flex;
    justify-content: center;
    align-items: center;
}
.hide {
    display: none; 
}